;;; Edraw UI State ---    -*- mode: lisp-data -*-
((color-picker
  (recent-colors "#ffffff00" "#9a9595" "#ffffff" "#000000" "#0000ff"
		 "#00ff00" "#00ffff" "#ff0000" "#ff00ff" "#ffff00"
		 "#00000080" "#0000ff80" "#00ff0080" "#00ffff80"
		 "#ff000080" "#ff00ff80" "#ffff0080" "#ffffff80"))
 (edraw-ui-state (version . 1)))
